header {
    padding: 2em 10%;
    position: relative;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-icon {
    width: 2rem;
}

.hamnav {
    color: var(--white);
    font-size: 1.5rem;
    display: none;
}

.close-icon {
    color: var(--white);
    top: 1.8em;
    font-size: 1.5rem;
    position: absolute;
    z-index: 20;
    right: 10%;
    display: none;
}

.toggle-hamnav {
    position: absolute;
    top: 3.5em;
    right: 10%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 50;
    opacity: 0;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
}

.toggle-member {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 12rem;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}

.nav-member {
    position: relative;
}

.nav-member:hover .nav-member-dropdown {
    display: flex;
}

.nav-member-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.nav-member-dropdown {
    list-style: none;
    position: absolute;
    top: 2.6rem;
    display: none;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.nav-item {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nav-dropdown-item {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    display: block;
}


@media screen and (max-width: 1024px) {

    .hamnav {
        display: block;
    }

    .nav {
        display: none;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .nav-item,
    .nav-dropdown-item {
        font-size: 1.5rem;
    }

    .nav-dropdown-item:hover {
        background-color: black;

    }


    .toggle-hamnav,
    .toggle-member {
        display: block;
    }

    .toggle-member:hover~.nav-member-item {
        background-color: var(--black);
    }

    .toggle-member:checked~.nav-member-dropdown {
        display: flex;
    }

    .nav-member-dropdown {
        text-align: center;
        top: 4rem;
    }

    .nav-item:hover {
        background-color: var(--black);
    }

    .hamnav {
        display: block;
    }

    .toggle-hamnav:checked~.nav {
        display: flex;
    }

    .toggle-hamnav:checked~.close-icon {
        display: block;
    }

}